# входной поток для uWSGI
upstream uwsgi_app {
    server unix:/tmp/uwsgi_app.sock;
}
server {
    listen 80;
    server_name docere.com www.docere.com;
    error_log stderr warn;
    access_log /dev/stdout main;

    location / {
        include /etc/nginx/uwsgi_params;
        uwsgi_pass uwsgi_app;
    }

    location /static/ {
        alias /code/docere/static/;
        }
    location /media/ {
        alias /code/docere/media/;
    }
}