.upload-container {
    text-align: center;
    padding: 20px;
}

.dropzone {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px;
    padding: 50px 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropzone:hover {
    background-color: #F5F5DC;
}

.dropzone__text {
    color: #555;
    font-size: 16px;
    margin-top: 10px;
}


.dropzone__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropzone__filename {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-style: italic;
    text-align: center;
}
