@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import 'blocks/pasport/pasport.css';
@import 'blocks/medhistory/medhistory.css';
@import 'blocks/history-lab/history-lab.css';
@import 'blocks/cards/cards.css';
@import 'blocks/navbar/navbar.css';
@import 'blocks/footer/footer.css';
@import 'blocks/container/container.css';
@import 'blocks/header/header.css';
@import 'blocks/button/button.css';
@import 'blocks/upload.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ECECECC2;
    color: #2e3440;
}

.link_orange {
    text-decoration: none;
    color: #424242;
    font-weight: 600;
    padding: 20px 0;
    transition: color 0.3s;
}

.link_orange:hover {
    color: #c7a109;
}


.thumbnail {
    max-height: 100px;
}


/* Анимации */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Применение анимации */
.container, .navbar, footer, .header {
    animation: fadeIn 0.5s ease-in;
}