stages:
  - build
  - test
  - deploy

variables:
  DOCKER_IMAGE: "riper3d/docere_proj"
  DOCKER_REGISTRY: "docker.io"
  DOCKER_TAG: "latest"

before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $DOCKER_REGISTRY

build:
  stage: build
  only:
    - main
  script:
    - docker build --network="host" -t $DOCKER_IMAGE:$CI_COMMIT_SHA .
    - docker tag $DOCKER_IMAGE:$CI_COMMIT_SHA $DOCKER_IMAGE:$DOCKER_TAG
    - docker push $DOCKER_IMAGE:$CI_COMMIT_SHA
    - docker push $DOCKER_IMAGE:$DOCKER_TAG

test:
  stage: test
  only:
    - main
  script:
    - echo "Test stage passed"

deploy:
  stage: deploy
  only:
    - main
  script:
    - ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST
  environment:
    name: prod
    url: https://docere.online