stages:
  - build
  - test
  - deploy

variables:
  DOCKER_IMAGE: "riper3d/docere_proj"
  DOCKER_REGISTRY: "docker.io"
  DOCKER_TAG: "latest"

before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin

build:
  stage: build
  script:
    - docker build --network="host" -t $DOCKER_IMAGE:$CI_COMMIT_SHA .
    - docker tag $DOCKER_IMAGE:$CI_COMMIT_SHA $DOCKER_IMAGE:$DOCKER_TAG
    - docker push $DOCKER_IMAGE:$CI_COMMIT_SHA
    - docker push $DOCKER_IMAGE:$DOCKER_TAG

test:
  stage: test
  script:
    - echo "Test stage passed"

deploy:
  stage: deploy
  only:
    - dev
  script:
    - ssh -o StrictHostKeyChecking=no $PROD_USER@$PROD_HOST '
        cd django_project &&
        docker-compose pull &&
        docker-compose down &&
        docker-compose up -d
      '
  environment:
    name: prod
    url: https://docere.online
