stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: "riper3d/docere_proj"
  DOCKER_REGISTRY: "docker.io"
  DOCKER_TAG: "latest"

before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $DOCKER_REGISTRY

build:
  stage: build
  script:
    - docker build --network="host" -t $DOCKER_IMAGE:$CI_COMMIT_SHA . # Собираем образ с тегом текущего коммита
    - docker tag $DOCKER_IMAGE:$CI_COMMIT_SHA $DOCKER_IMAGE:$DOCKER_TAG # Тегируем его как "latest"
    - docker push $DOCKER_IMAGE:$CI_COMMIT_SHA # Пушим образ с тегом коммита
    - docker push $DOCKER_IMAGE:$DOCKER_TAG # Пушим образ с тегом "latest"

deploy:
  stage: deploy
  only:
    - main
  script:
    - ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST
  environment:
    name: prod
    url: http://yourwebsite.online