/* Блок: Кнопка */
.button {
    display: inline-block;
    padding: 12px 30px;
    background: #c7a109;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: background 0.3s;
}

.button:hover {
    background: #e5b909;
}
