.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: #FFF;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar__item {
    margin: 0 50px;
}

.navbar__link {
    text-decoration: none;
    color: #424242;
    font-weight: 600;
    padding: 20px 0;
    transition: color 0.3s;
}

.navbar__link_orange:hover {
    color: #c7a109;
}
