{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center; margin-bottom: 40px;">Пациенты</h1>
<div class="cards">
    {% for card in cards %}
    <div class="card">
        {% if card.photo %}
        <img src="{{ card.photo.url }}" alt="{{ card.fullname }}">
        {% endif %}
        <div class="card-content">
            <h2>{{ card.title }}</h2>
            <p>Телефон: {{ card.phone }}</p>
            <a href="{{card.get_absolute_url}}" class="button">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
