{% extends 'base.html' %}

{% block content %}
<h1 class="cards__title">Пациенты</h1>
<div class="cards">
    {% for card in cards %}
    <div class="cards__item">
        {% if card.photo %}
        <img class="cards__image" src="{{ card.photo.url }}" alt="{{ card.fullname }}">
        {% endif %}
        <div class="cards__content">
            <h2 class="cards__name">{{ card.title }}</h2>
            <p class="cards__phone">Телефон: {{ card.phone }}</p>
            <a href="{{ card.get_absolute_url }}" class="cards__button">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
