{% extends 'base.html' %}
{% block content %}
<div class="upload-container">
    <h1>{{ title }}</h1>

    <form method="post" enctype="multipart/form-data" id="upload-form" action="/process-zip/">
        {% csrf_token %}
        <div class="dropzone">
            <p class="dropzone__text">Перетащите ZIP-файл сюда или нажмите, чтобы выбрать файл</p>
            <input type="file" name="file" class="dropzone__input">
        </div>
        <button type="submit" class="btn">Загрузить</button>
    </form>

    {% if form.errors %}
    <div class="error-messages">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% load static %}
    <script src="{% static 'main/js/upload.js' %}" defer></script>
</div>
{% endblock %}
