/* Блок: Главный заголовок */
.header {
    background: #fcfcfc;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.header__title {
    font-size: 48px;
    text-align: center;
    line-height: 1.2;
    max-width: 800px;
    margin: 0 20px;
}

/* Адаптивный дизайн */
@media (max-width: 768px) {
    .header__title {
        font-size: 32px;
        padding: 0 20px;
    }
}
